.hidden-password {
  -webkit-text-security: disc;
  text-security: disc;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

i,
b {
  color: #295fea;
}

input {
  border: none;
  outline: none;
}

small {
  color: #9d9ea5;
}

/* ================================================ */

body {
  min-height: 100vh;
  /* background-image: url(../images/register-background2.png); */
  background-color: #f8fafe;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: min(1300px, calc(100% - 40px));
  margin: 0 auto;
}

/* =====================register-header============= */

.register-header,
.register-header-left,
.register-header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-header {
  border-bottom: 0.1rem solid #c7c9d4;
}

.register-header-left {
  justify-content: space-around;
  gap: 1rem;
}

.register-header-logo {
  gap: 0.5rem;
}

.register-header-logo > i {
  font-size: x-large;
}

.register-header-right > b:hover,
.register-header-logo:hover {
  cursor: pointer;
}

/* =====================register-container============= */

.register-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}

/* register-describe */

.register-describe {
  width: 100%;
  max-width: 26rem;
}

.register-describe > h1 {
  color: #082157;
}

.register-describe > span {
  font-weight: 400;
  color: #c7c9d4;
}

.register-describe-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 0.8rem;
}

.register-describe-logo {
  width: 1.1rem;
  height: auto;
  color: #295fea;
  background-color: #d8e4ff;
  padding: 0.6rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-describe-title > h3 {
  color: #082157;
  margin-bottom: 0rem;
  font-size: 1rem;
}

.register-describe-title > span {
  color: #c7c9d4;
  font-size: small;
}

/* register-form */

.register-form {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 44rem;
}

.register-form-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 3rem;
}

.register-block-email,
.register-submit {
  grid-column: 1 / -1;
}

.register-title-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: -0.5rem;
}

.register-input-block > input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.register-input-block {
  border: 0.1rem solid #c7c9d4;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.register-class-search {
  position: relative;
  width: 100%;
}

.register-gender {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4rem;
  border: none;
}

.register-input-block > input[type="email" i] {
  width: 100%;
}

.password-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.register-submit {
}

.register-btn-submit {
  background-color: #295fea;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.register-btn-submit > input {
  background-color: transparent;
  font-size: larger;
  color: #f8fafe;
  font-weight: 600;
  padding: 1rem;
}

.register-btn-submit:hover {
  cursor: pointer;
  background-color: #1d4ed8;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(37, 99, 235, 0.4);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-submit:active {
  transform: translateY(0);
}

.login-form {
  max-width: 38rem;
}

.login-form-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem 0rem 3rem;
}

.login-block {
  width: 100%;
}

.login-memory-block {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  column-gap: 14rem;
}

.login-btn {
  width: 100%;
  margin-top: 1rem;
}

.success-login-message {
  color: #166534;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1.2rem 0;
  background-color: #caf1d9;
  padding: 1rem;
  border-radius: 0.8rem;
}
